.menu-link{
    color: #800880;
    margin-right: 1.2rem;
    text-transform: lowercase;  /*minuscula*/
    text-decoration: none;
}

.menu-link:hover{
    text-decoration: underline; /*linea debajo del elemento*/
}

.activo{
    color: #333333;
    font-weight: bold;
}